<div class="container">

<div class="mt-4 p-5  text-white rounded">
    <h3 class="floating">Welcome to RT Messaging App</h3>

    <div class="row align-items-center">
      <div class="col text-col " >
        <div>
        <p>Nice Real-Time messaging application. Login using new credentials or google and send messages to others</p> 
        </div>
        <br><br>
        <button type="button" class="btn btn-outline-light">Log In</button>
      </div>
      <div class="col"  >
        <img src="../../assets/iphones.gif" height="500px"/>
      </div>
    </div>
  </div>
</div>


